body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

.question-header {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.image-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

.image-table th {
    font-weight: bold;
    padding: 10px;
    background-color: #f2f2f2;
}

.image-table img {
    max-width: 100%;
    height: auto;
    width: 500px;
    object-fit: contain;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.multiple-choice {
    margin: 20px 0;
    align-items: left;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.navigation-buttons {
    margin-top: 20px;
    text-align: center;
}

.navigation-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.navigation-buttons button:hover {
    background-color: #0056b3;
}